@media screen and (max-width: 480px) {
    .nav-btn:checked + label + ul {
        transform: scale(1, 1);
        transform-origin: top;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    .nav-btn:checked + label + ul a,
    .nav-btn:checked + label + ul li {
        opacity: 1;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }
    .nav-btn {
        display: none;
    }
    .nav-icon-wrapper {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 24px 14px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .nav-icon-inner {
        background: #ddd;
        display: block;
        height: 3px;
        width: 26px;
        position: relative;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    .nav-icon-inner:before, .nav-icon-inner:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background: #ddd;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    .nav-icon-inner:before {
        top: 9px;
    }
    .nav-icon-inner:after {
        bottom: 9px;
    }
    .nav-btn:checked ~ .nav-icon-wrapper .nav-icon-inner:before {
        transform: rotate(-45deg);
    }
    .nav-btn:checked ~ .nav-icon-wrapper .nav-icon-inner:after {
        transform: rotate(45deg);
    }
    .nav-btn:checked ~ .nav-icon-wrapper:not(.steps) .nav-icon-inner:before {
        top: 0;
    }
    .nav-btn:checked ~ .nav-icon-wrapper:not(.steps) .nav-icon-inner:after {
        bottom: 0;
    }
    .nav-btn:checked ~ .nav-icon-wrapper .nav-icon-inner {
        background: rgba(0, 0, 0, 0);
        transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    .template-nav ul {
        list-style: none;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        margin-top: 52px;
        padding: 0 0 10px 0;
        clear: both;
        background: var(--background-navbar);
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        transform: scale(1, 0);
        transform-origin: top;
    }
    .template-nav ul a {
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 16px;
        text-transform: capitalize;
        color: #ddd;
        opacity: 0;
        transition: 0.5s;
    }
    .template-nav ul li {
        border-top: 1px solid rgb(75, 75, 75);
        padding: 15px 0;
        margin: 0 54px;
        opacity: 0;
        transition: 0.5s;
    }
}