body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}
.layout-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
}
.visual-header {
    background-color: rgba(0, 0, 0, 0.7);
}
.layout-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.layout-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.visual-bg-video {
    filter: brightness(0.6);
}
.layout-logo {
    margin: 0;
}
.visual-logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.layout-mobile-nav {
    display: none;
}
.layout-pc-nav ul {
    display: flex;
    flex-direction: row;
}

.visual-pc-nav ul li {
    list-style: none;
}
.visual-pc-nav ul li:not(:last-child) {
    margin-right: 4vw;
}

.visual-pc-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.3s; /* ? */
}
.visual-pc-nav ul li a:hover {
    color: #007BFF;
}

.layout-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
}

.layout-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual-overlay {
    color: white;
    text-shadow: 2px 2px 4px 0.7 rgba(0, 0, 0, 0.7); /* ? */
}

.layout-overlay h1 {
    margin: 0;
}

.visual-overlay h1 {
    font-size: 4rem;
}

.layout-overlay p {
    margin: 1rem 0;
}
.visual-overlay p {
    font-size: 1.5rem;
}

.layout-home-btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.layout-home-btn:hover {
    background-color: #005663;
}

@media screen and (max-width: 480px) {
    .layout-pc-nav {
        display: none;
    }
    .layout-mobile-nav {
        display: block;
    }
    .layout-header {
        position: relative;
        height: 8vh;
    }
    .visual-header {
        background-color: rgb(0, 0, 0);
    }
    .visual-logo {
        font-size: 1.6rem;
    }

    .layout-bg-video {
        height: 30vh;
    }
    .layout-bg-wrapper {
        height: 30vh;
    }
    .layout-home {
        min-height: 30vh;
    }
    .visual-overlay h1 {
        font-size: 1rem;
    }
}