/* 基本スタイル */
html {
    font-size: 16px;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    width: 100vw;
}

/* レスポンシブ切り替え */
.tablet-design, .mobile-design {
    display: none;
}
.pc-design {
    display: block;
}

/* ヘッダー */
.layout-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
}
.visual-header {
    background-color: rgba(0, 0, 0, 0.7);
}
.layout-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.layout-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.visual-bg-video {
    filter: brightness(0.6);
}
.layout-logo {
    margin: 0;
}
.visual-logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/* ナビゲーション */
.layout-pc-nav ul {
    display: flex;
    flex-direction: row;
}

.visual-pc-nav ul li {
    list-style: none;
}
.visual-pc-nav ul li:not(:last-child) {
    margin-right: 4vw;
}

.visual-pc-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.3s; /* ? */
}
.visual-pc-nav ul li a:hover {
    color: #007BFF;
}

/* メインセクション */
.layout-home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
}
.layout-overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visual-overlay {
    color: white;
    text-shadow: 2px 2px 4px 0.7 rgba(0, 0, 0, 0.7); /* ? */
}

.layout-overlay h1 {
    margin: 0;
}

.visual-overlay h1 {
    font-size: 4rem;
}

.layout-overlay p {
    margin: 1rem 0;
}
.visual-overlay p {
    font-size: 1.5rem;
}

.layout-home-btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.layout-home-btn:hover {
    background-color: #005663;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 1.4vw;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 1.4vw;
    }
}

/* タブレット対応 */
@media screen and (max-width: 860px) {
    .pc-design, .mobile-design {
        display: none;
    }
    .tablet-design {
        display: block;
    }
    .layout-header {
        padding-left: 3vw;
        flex-direction: row-reverse;
        justify-content: left;
        height: 8vh;
        position: fixed;
    }
    .layout-mobile-nav {
        margin-right: 2vw;
    }
    html {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 1.65vw;
    }
}  

/* モバイル対応 */
@media screen and (max-width: 480px) {
    .pc-design, .tablet-design {
        display: none;
    }
    .mobile-design {
        display: block;
    }
    .layout-header {
        height: 7vh;
        padding-left: 3vw;
        position: relative;
        flex-direction: row-reverse;
        justify-content: left;
    }
    .visual-header {
        background-color: rgb(0, 0, 0);
    }
    .visual-logo {
        font-size: 1.5rem;
    }
    .layout-mobile-nav {
        margin-right: 2vw;
    }
    .layout-home {
        display: revert;
        min-height: revert;
        padding: 0;
    }
    .layout-bg-wrapper {
        height: 40vh;
        position: revert;
    }
    .layout-bg-img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    .layout-overlay {
        text-align: left;
        position: revert;
        transform: revert;
        padding: 1.5rem;
    }
    .visual-overlay h1 {
        font-size: 2.3rem;
    }
    .layout-overlay p {
        margin: 2rem 0;;
    }
    .visual-overlay p {
        font-size: 1rem;
    }
    html{
        font-size: 16px;
    }
}
@media screen and (max-width: 300px) {
    html {
        font-size: 5vw;
    }
}